<!DOCTYPE html>
<html>
  <head>
    {{ partial "head" . }}
    {{ partial "title" . }}
  </head>
  <body>
    <div id="content" class="home">
      <article>
        <div id="greeting">
          <p id="bighi">Hi,</p>
          <p id="subhi">welcome to GrepKeys, the best way to find your perfect keyboard.</p>
        </div>
        <div id="pages">
          <div class="mainpage"><p><a href="/keyboards">Keyboards</a></p></div>
          <div class="mainpage"><p><a href="/switches">Switches</a></p></div>
          <div class="fadedpage"><p><a href="/about">About</a></p></div>
        </div>
      </article>
    </div>
  </body>
</html>
