<!DOCTYPE html>
<html>
  <head>
    {{ partial "head" . }}
    {{ partial "title" . }}
  </head>

  <body>
    {{ partial "nav" . }}
    <header>{{ .Title }}</header>

    <main class="cards">
      {{ range .Pages }}
        <div class="card {{ if (eq .Section "switches") }}smallcard{{ end }}">
          <a class="cardlink" href="{{ .URL }}">
            <img class="listimg" src="/img/{{ .BaseFileName }}.jpg">
            <p class="cardtitle">{{ .Title }}</p>
          </a>
        </div>
      {{ end }}
    </main>

    {{ partial "footer" . }}
  </body>
</html>
