<!DOCTYPE html>
<html>
  <head>
    {{ partial "head" . }}
    {{ partial "title" . }}
  </head>

  <body>
    <div id="content">
      {{ partial "nav" . }}
      <header>{{ .Title }}</header>

      <section id="landtext">
        {{ .Content }}
      </section>

      <article>
        {{ range .Pages }}
          <div class="card">
            <a class="carlink" href="{{ .URL }}">
              <img class="listimg" src="/img/{{ .BaseFileName }}.jpg">
              <p class="cardtitle">{{ .Title }}</p>
            </a>
          </div>
        {{ end }}
      </article>

      {{ partial "footer" . }}
    </div>
  </body>
</html>
