<!DOCTYPE html>
<html>
  <head>
    {{ partial "head" . }}
    {{ partial "title" . }}
  </head>
  <body>
    {{ partial "nav" . }}
    <header>{{ .Title }}</header>

    <p class="buybutton">
      {{ if (isset .Params "purchase_link") }}
        <a href="{{ .Params.purchase_link }}">Buy now</a>
      {{ end }}
    </p>

    <main>
      <!-- Only show hero image if this is a switch or keyboard page (in
        contrast -->
      <!-- to e.g. the about page). -->
      {{ $section := .Section }}
      {{ if or (eq $section "keyboards") (eq $section "switches") }}
        <img class="listimg" src="/img/{{ .File.BaseFileName }}.jpg">
      {{ end }}
      {{.Content}}
    </main>

    {{ partial "footer" . }}
  </body>
</html>
