<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://use.typekit.net/nng3cqg.css">

{{ $styles := resources.Get "scss/main.scss" | toCSS | postCSS | fingerprint }}

<link rel="stylesheet"
      href="{{ $styles.Permalink }}"
      integrity="{{ $styles.Data.Integrity }}"
      media="screen">

{{ $js := resources.Get "js/main.js" | fingerprint }}

<script type="text/javascript"
        src="{{ $js.Permalink }}"
        integrity="{{ $js.Data.Integrity }}"
        media="screen">
</script>
