//
// Normalise
//

@import "modern-normalize";

//
// Layout
//

// Set a nice, large font size
html { font-size: 21px }

// Smaller font size in mobile
$mobilebreakpoint: 480px;
@media all and (max-width:$mobilebreakpoint) {
  html { font-size: 18px }
}

// Even larger font size for full screen desktop usage
$fullscreenbreakpoint: 1700px;
@media all and (min-width:$fullscreenbreakpoint) {
  html { font-size: 24px }
}

// Fix up spacing and padding
* {
  margin: 0;
  padding: 0;
}

body {
  padding: 1rem;     // A little padding on all sides
  max-width: 30rem;  // Keep the container from getting overly wide
  margin-left: auto; // Make margins even
  margin-right: auto;
}

//
// Type
//

// Basic typographic settings

// Fonts
$sansfontstack: ff-nexus-sans, "Nexus Sans Pro", sans-serif;
$seriffontstack: ff-nexus-mix, "Nexus Mix Pro", $sansfontstack;

// Colours
$fg-color:   rgba(black, 0.7);
$bg-color:   #eff3f3;
// ---
$lime:       #01a97c;
$brightlime: #0cf28f;

body {
  font-family: $seriffontstack;
  font-size: 1rem;
  line-height: 1.5;
}

// Enable automatic hyphenation, but only for the main content of the page --
// not for, e.g., navigation.
main {
  hyphens: auto;
}

// Space between paragraphs, but make sure not to add it for the very last
// paragraph. The selector is restricted to main because there are no actual
// paragraphs of text that need separating outside it -- the space becomes only
// a hindrance.
main p + * {
  margin-top: 0.75em;
}

// Lower contrast by making the text dark grey and the background light grey
body {
  color: $fg-color;
  background-color: $bg-color;
}

// Always use subpixel font rendering
html {
  -webkit-font-smoothing: subpixel-antialiased;
}

// A bunch of OpenType features
body {
  font-variant-ligatures: common-ligatures contextual;
  font-variant-numeric: oldstyle-nums proportional-nums;
  font-kerning: normal;
}

//
// Headings and titles
//

// Basic headings used only for structure and hierarchy within a page's main
// content

h1 {
  font-size: 1rem;
  font-weight: inherit;
  font-variant-caps: all-small-caps;
  letter-spacing: 0.08em;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 0.9rem;
  font-weight: inherit;
  font-style: italic;
  margin-top: 1.2rem;
  margin-bottom: 0.5rem;
}

// The title of the current page

header span {
  font-family: $sansfontstack;
  font-size: 1.5rem;
  letter-spacing: -0.01rem;
}
header {
  margin-bottom: 1rem;
}

//
// Links
//

// Mixin to clear link formatting
@mixin remove_link_formatting {
  // This removes the link formatting applied using the clever hack a little
  // down the file. Although this mixin is used inside that section, the
  // backgorund-image that the hack uses to work overrides this one.
  background-image: none;

  // As themes/grepkeys/assets/js/main.js adds a hack to fix link underlines on
  // Android that uses text-decoration, we also want to clear that.
  text-decoration: none;

  // Although standard links do this, any links that are found outside the main
  // tag still have the horrible default colours, so a removal of  link
  // formatting still needs this.
  color: inherit;
}

// Use a trick using a gradient to create a very basic, easy to control and
// position underline. I decided to use this simpler approach despite it not
// avoiding descenders to keep complexity to a minimum.
//
// The only links we want to have this formatting are in the main tag (i.e. not
// the navigation)
main a:any-link {
  @include remove_link_formatting;

  background-image: linear-gradient(to right, $fg-color 100%, rgba(0,0,0,0) 0);
  background-size: 0.05em 0.05em;
  background-repeat: repeat-x;
  background-position: 0 1.2em;
}

// Fade link text upon click to make website feel more interactive without being
// distracting (like hover)
main a:any-link:active {
  color: rgba($fg-color, 0.5);
}

//
// Card list
//

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  flex: 0 1 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;

  border: 1px solid rgba($fg-color, 0.2);
  border-radius: 0.1rem;
  background-color: white;
}

// Add a shadow to each card upon hover
.card {
  transition: box-shadow 300ms ease-out;
}
.card:hover {
  box-shadow: 0 2px 15px rgba($fg-color, .2);
}

// Slightly larger font for the title of each card
.cardtitle {
  font-size: 1.1rem;
}

// Remove the underlink links usually get (the overspecificity's purpose is to
// override the link formatting's high specificity)
.card .cardlink {
  @include remove_link_formatting;
}

// For pages where we want the cards to be in two columns
//
// The - 0.5rem removes the width that is used for a margin between each card
.smallcard {
  flex: 0 1 calc(50% - 0.5rem);
}

//
// Nav bar
//

// Make nav bar sans serif to offset it from the body of the website and add a
// little space below.
nav {
  font-family: $sansfontstack;
  margin-bottom: 1rem;
}

// Collapse nav bar list items into one line
//
// The `- 0.25rem` is there to remove the word space `inline-block` adds between
// elements
nav li {
  display: inline-block;
  margin-right: calc(1rem - 0.25rem);
}

// Fade nav bar items, but make them fully coloured on hover
nav li a {
  color: rgba($fg-color, 0.5);
  text-decoration: none;
  transition: color 250ms ease-out;
}
nav li a:hover {
  color: $fg-color;
}

// Nudge each nav bar item up slightly upon hover
nav li {
  transition: transform 250ms ease-out;
}
nav li:hover {
  transform: translateY(-0.1rem);
}

// Make the link to the website's homepage more prominent than the other nav
// bar's links by not fading it, making it green upon hover
#navtitle {
  color: $fg-color;
}
#navtitle:hover {
  color: $lime;
}

//
// Homepage and 404
//

// Vertically center (well, not really -- a little less space on top than on the
// bottom) content on homepage.
//
// We use padding because we don't want the top of the homepage to be cut off
// (negative values are not possible for padding)
.home main {
  padding-top: calc(50vh - 10rem);
}

// Increase font size of greeting on homepage to counteract large amount of
// whitespace
#greeting {
  font-size: 1.25rem;
}

// Make the main 'Hi' greeting larger than the surrounding text to give it more
// importance
#bighi {
  font-family: $sansfontstack;
  font-size: 1.5rem;
}

// Reduce space between 'Hi!' and rest of greeting
#bighi + p {
  margin-top: 0.5rem;
}

// Make the links on the homepage lime-green, removing their underline. Add a
// slightly rounded green highlight upon hover.
#greeting a {
  @include remove_link_formatting;
  color: $lime;
  border-radius: 0.1rem;
  transition: background-color 500ms cubic-bezier(0, 0, 0.33, 1);
}
#greeting a:hover {
  background-color: rgba($brightlime, 0.2);
}
#greeting a:active {
  color: rgba($lime, 0.5);
}

//
// List of switches
//

// Add a little space below the entire switches section
.switches {
  margin-bottom: 1rem;
}

// Make heading above switches section more subtle as we want the user to focus
// on the switches and the article, not an unimportant heading.
.switches > p {
  font-family: $sansfontstack;
  font-variant-caps: all-small-caps;
  color: rgba($fg-color, 0.4);
  letter-spacing: 0.02em;
  margin-bottom: 0.2rem;
}

// Make manufacturer label less prominent
.manufacturer {
  font-family: $sansfontstack;
  font-size: 0.8rem;
  font-variant-caps: all-small-caps;
  color: rgba($fg-color, 0.4);
  letter-spacing: 0.02em;

  text-align: right;
  float: right;
  margin-left: 0.5rem;
}

// Style switches like cards on list pages, but with a less bright background
.switch {
  display: inline-block;
  padding: 0.2rem 0.4rem;
  padding-top: 0.1rem;
  margin-right: 0.25rem;
  margin-bottom: 0.5rem;

  border: 1px solid rgba($fg-color, 0.2);
  border-radius: 0.25rem;

  // We use both opacity and background-color to make sure the colour boxes and
  // text are also gently faded
  opacity: 0.8;
  background-color: rgba(white, 0.8);
}

// Shadow on hover just like cards, but with added background colour and opacity
// transition
.switch {
  transition: box-shadow 300ms ease-out,
    background-color 300ms ease-out,
    opacity 300ms ease-out;
}
.switch:hover {
  box-shadow: 0 2px 15px rgba($fg-color, 0.2);
  background-color: white;
  opacity: 1;
}

// A small square of colour with a very subtle rounded border
.switchcolourbox {
  display: inline-block;
  width: 0.7rem;
  height: 0.7rem;
  margin-right: 0.2rem;

  border: 1px solid rgba($fg-color, 0.2);
  border-radius: 0.1rem;
}

// Use a small sanserif font for each switch label
.switch a {
  @include remove_link_formatting;
  font-family: $sansfontstack;
  font-size: 0.7rem;
}

// Place switch label on the same line as the colour box and correct its
// positioning
.switch p {
  display: inline-block;
  transform: translateY(-0.1rem);
}

// Colour box palette
.cherry-black { background-color: #111111; }
.cherry-blue  { background-color: #2a9cf9; }
.cherry-brown { background-color: #7c441e; }
.cherry-clear { background-color: #dddddd; }
.cherry-green { background-color: #54d04b; }
.cherry-red   { background-color: #f7513a; }

//
// Images
//

// Make all images responsively fit the environment they are in
main img {
  width: 100%;
}

// Add an extremely subtle rounded border to hero images. Combined with some
// extra space below it makes the hero image much more prominent.
.heroimg {
  margin-bottom: 1rem;
  border: 1px solid rgba($fg-color, 0.02);
  border-radius: 0.1rem;
}

//
// Other elements
//

// Subtle copyright notice that dynamically adjusts the space above it for the
// screen size.
//
// We use flex to add half the viewport's height to the bottom of the page, and
// then position the footer _inside_ this added space.
//
// We also remove the margin usually added to the bottom of the page, instead
// moving the footer up into the half-viewport space.
footer {
  display: flex;
  font-size: 0.5rem;
  height: 50vh;
  margin-bottom: -1rem;
}
footer p {
  align-self: flex-end;
  padding-bottom: 1rem;
}

// Abbreviations

// Small-caps
abbr {
  font-variant-caps: all-small-caps;
  letter-spacing: 0.05em;
}

// Remove dotted underline
abbr[title] {
  text-decoration: none;
}

// Show a help cursor
abbr[title] {
  cursor: help;
}

// 'Buy now' button

// Base
.buybutton {
  display: inline-block;
  font-family: $sansfontstack;
  padding: 0.5rem;

  border: 1px solid rgba($fg-color, 0.1);
  border-radius: 0.25rem;

  // Original line height makes padding uneven
  line-height: 1.1;
}

// Reset default link styling and make foreground colour slightly transparent to
// let lime background shine through faintly to increase the feeling of colours
// 'fitting together'.
.buybutton a {
  @include remove_link_formatting;
  color: rgba($fg-color, 0.8);
}

// Shadow and lime-green background colour react to hover and click
.buybutton {
  background-color: rgba($brightlime, 0.3);
  box-shadow: 0 3px 8px rgba($fg-color, .1);
  transition: background-color 250ms ease-out, box-shadow 250ms ease-out;
}
.buybutton:hover {
  background-color: rgba($brightlime, 0.25);
  box-shadow: 0 4px 15px rgba($fg-color, .18);
}
.buybutton:active {
  background-color: rgba($brightlime, 0.35);
  box-shadow: 0 2px 8px rgba($fg-color, .3);
}

// Slot in next to header
//
// The margin makes sure wrapping occurs a little before the text juts against
// the button's edge
.buybutton {
  float: right;
  margin-left: 0.7rem;
}
header span {
  display: inline;
}

// Selections

::selection {
  background: rgba($brightlime, 0.15);
}
