// Use more intuitive box model
*, *:before, *:after {
  box-sizing: border-box;
}

// Zero default spacing and padding to get a fresh start
* {
  margin: 0;
  padding: 0;
}

// Get webfonts
@import "fonts";

//
// Layout
//

// A smaller font size than what you usually see on websites -- this is because
// FF More, the body text font, has very short extenders, making it sit larger
// in the font file compared to most other typefaces.
html {
  font-size: 19px;
}

// Smaller font size on mobile devices
@media all and (max-width: 560px) {
  html {
    font-size: 17px;
  }
}

// We put the code to position the textblock into a mixin because it is reused
// later
@mixin textblock-positioning {
  // A little padding on the left and right of the textblock to prevent it from
  // being flush against the sides of the display on mobile
  padding: 0rem 1rem;
  max-width: 35rem;
  margin: 0 auto;
}

body {
  @include textblock-positioning;
}

//
// Type
//

// Basic typographic settings

// Fonts

$sys-fonts:
  system-ui,
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  "Roboto",
  "Oxygen-Sans",
  "Ubuntu",
  "Cantarell",
  "Lucida Grande",
  "Helvetica Neue",
  Helvetica,
  arial,
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol";

$serif-fonts: ff-more, $sys-fonts;
$sans-fonts: ff-nuvo, $serif-fonts;

// Colours

$fg-color:   #333231;
$bg-color:   #fcfcfc;
// ---
$lime:       #01a97c;
$brightlime: #0cf28f;

body {
  font-family: $serif-fonts;
  font-size: 1rem;
  line-height: 1.6;
}

// Enable automatic hyphenation, but only for the main content of the page --
// not for, e.g., navigation.
main {
  hyphens: auto;
}

// Lobotomised owl selector -- adds 0.75em space between adjacent siblings. See
// http://alistapart.com/article/axiomatic-css-and-lobotomized-owls/
main * + * {
  margin-top: 1em;
}

// Apply previously-defined base colours
body {
  color: $fg-color;
  background-color: $bg-color;
}

// Always use subpixel font rendering
html {
  -webkit-font-smoothing: subpixel-antialiased;
}

// Always use all basic font features, plus proportional text figures to make
// numbers blend into the text
body {
  font-variant-ligatures: common-ligatures contextual;
  font-variant-numeric: oldstyle-nums proportional-nums;
  font-kerning: normal;
}

//
// Headings and titles
//

// Basic headings used only for structure and hierarchy within a page's main
// content

// Similar styles to The Elements of Typographic Style -- letterspaced all small
// caps for heading 1, and italic for heading 2
h1 {
  font-size: 1rem;
  font-weight: inherit;
  font-variant-caps: all-small-caps;
  letter-spacing: 0.08em;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 0.9rem;
  font-weight: inherit;
  font-style: italic;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

// The title of the current page

header span {
  font-family: $sans-fonts;
  font-size: 1.5rem;

  // As the fonts we use do not have optical sizes, we compensate as best as we
  // can by slightly reducing letter spacing
  letter-spacing: -0.01rem;
}

// Add some space above and below to make the page less cramped and to emphasise
// the title more. This space reduces very quicly when the viewport's height is
// reduced.
header {
  margin-top: calc(2.5rem + 10vh);
  margin-bottom: calc(0.5rem + 5vh);
}

//
// Links
//

// Mixin to clear link formatting
@mixin remove-link-formatting {
  // This removes the link formatting applied using the clever hack a little
  // down the file. Although this mixin is used inside that section, the
  // background-image and text-shadow that the hack uses to work overrides this
  // one.
  background-image: none;
  text-shadow: none;

  // Although standard links do this, any links that are found outside the main
  // tag still have the horrible default colours and underline, so a removal of
  // link formatting still needs this.
  text-decoration: none;
  color: inherit;
}

// Use a trick using a gradient to create a very basic, easy to control and
// position underline. A text shadow with the same colour as the page background
// allows avoiding descenders.
//
// The only links we want to have this formatting are in the main tag (i.e. not
// the navigation)
//
// We also make the underline 0.05em shorter either side. This helps minimise
// small bits of underline sticking out from descenders at the beginning or end
// of a link.
$link-inset-length: 0.05em;
main a:any-link {
  @include remove-link-formatting;

  text-shadow:
   -1px -1px 0 $bg-color,
    1px -1px 0 $bg-color,
   -1px  1px 0 $bg-color,
    1px  1px 0 $bg-color,
   -2px    0 0 $bg-color,
    2px    0 0 $bg-color,
   -2px    0 0 $bg-color,
    2px    0 0 $bg-color;

  background-image: linear-gradient(to right, $fg-color 0%, $fg-color 100%);
  background-size: calc(100% - #{$link-inset-length} * 2) 1px;
  background-repeat: no-repeat;
  background-position: $link-inset-length 92%;
}

// Fade link text upon click to make website feel more interactive, without
// being distracting (like hover)
main a:any-link:active {
  color: rgba($fg-color, 0.5);
}

// Remove descender avoidance on selection because it looks very strange to have
// a white shadow around links.
main a:any-link::selection {
  text-shadow: none;
}

//
// Card list
//

// Use CSS Grid to align cards
//
// Normal card pages only have one column, so the only reason we keep CSS Grid
// there is to neatly handle the gaps between items. On pages that require
// smaller cards we make the number of columns as high as possible, maintaining
// that the width of one card never gets lower than 10rem.
.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
}
.smallcards {
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
}

// The lobotomised owl selector (* + *) adds some space between and inside cards
// that we don't want, so zero all margins amongst cards
.cards * {
  margin: 0;
}

.card {
  padding: 0.75rem;
  border: 1px solid rgba($fg-color, 0.1);
  border-radius: 4px;
  background-color: white;
}

// Add a light shadow to each card, which expands upon hover. The card also
// moves up an amount that counteracts the expansion of the shadow exactly on
// hover.
//
// We reuse these shadows later, so we put them into mixins.

@mixin light-shadow {
  box-shadow: 0 1px 4px rgba($fg-color, .08);
}

@mixin strong-shadow {
  box-shadow: 0 4px 9px rgba($fg-color, .1);
}

.card {
  @include light-shadow;
  transition: box-shadow 300ms ease-out, transform 300ms ease-out;
}
.card:hover {
  @include strong-shadow;
  transform: translateY(-3px);
}

// Slightly larger (than body text) font for the title of each card
.cardtitle {
  font-size: 1.1rem;
}

// Remove the underlink links usually get (the overspecificity's purpose is to
// override the link formatting's high specificity)
.card .cardlink {
  @include remove-link-formatting;
}

//
// Nav bar
//

// Make sure nav bar always stays in one place -- at the top of the screen.
// Offset it from the main content through a white background and a very light
// shadow.
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;

  background-color: white;
  padding: 0.5rem 0;
  box-shadow: 0 2px 10px rgba($fg-color, .05);

  // Transition to make autohide (from assets/js/main.js) animate smoothly
  //
  // To see why box-shadow is animated take a look at the afore-mentioned
  // JavaScript file.
  transition: top 200ms ease-out, box-shadow 300ms ease-out;
}

// Make nav bar sans serif to offset it from the body of the website
nav {
  font-family: $sans-fonts;
}

// Reuse textblock's code to make labels in nav bar align and resize in sync
// with textblock
nav ul {
  @include textblock-positioning;
}

// Collapse nav bar list items into one line
//
// The `- 0.25em` is there to remove the word space `inline-block` adds between
// elements
nav li {
  display: inline-block;
  margin-right: calc(1rem - 0.25em);
}

// Fade nav bar items, but make them fully coloured on hover
nav li a {
  color: rgba($fg-color, 0.5);
  text-decoration: none;
  transition: color 250ms ease-out;
}
nav li a:hover {
  color: $fg-color;
}

// Nudge each nav bar item up slightly upon hover
nav li {
  transition: transform 250ms ease-out;
}
nav li:hover {
  transform: translateY(-2px);
}

// Make the link to the website's homepage more prominent than the other nav
// bar's links by fading it less, and making it green upon hover
#navtitle {
  color: rgba($fg-color, 0.8);
}
#navtitle:hover {
  color: $lime;
}

//
// Homepage and 404
//

// Vertically center content on homepage using CSS Grid
.home main {
  display: grid;
  align-content: center;
  height: 100vh;
}

// Increase font size of greeting on homepage to counteract large amount of
// whitespace
#greeting {
  font-size: 1.3rem;
}

// Make the main 'Hi' greeting larger than the surrounding text to give it more
// importance
#bighi {
  font-family: $sans-fonts;
  font-size: 1.5rem;
}

// Reduce space between 'Hi' and rest of greeting
#bighi + p {
  margin-top: 0.5rem;
}

// Make the links on the homepage lime-green, removing their underline. Add a
// slightly rounded green highlight upon hover.
#greeting a {
  @include remove-link-formatting;
  color: $lime;
  border-radius: 3px;
  transition: background-color 500ms cubic-bezier(0, 0, 0.33, 1);
}
#greeting a:hover {
  background-color: rgba($brightlime, 0.2);
}
#greeting a:active {
  color: rgba($lime, 0.5);
}

//
// List of switches
//

// Add a little space below each switch manufacturer's section, thereby also
// adding space between the entire switches section and <main>
.switches section {
  margin-bottom: 1rem;
}

// Make heading above switches section more subtle as we want the user to focus
// on the switches and the article, not an unimportant heading.
.switches > p {
  font-family: $sans-fonts;
  font-variant-caps: all-small-caps;
  color: rgba($fg-color, 0.4);
  letter-spacing: 0.02em;
  margin-bottom: 0.2rem;
}

// Make manufacturer label less prominent
.manufacturer {
  font-family: $sans-fonts;
  font-size: 0.8rem;
  font-variant-caps: all-small-caps;
  color: rgba($fg-color, 0.4);
  letter-spacing: 0.02em;

  text-align: right;
  float: right;
  margin-left: 0.5rem;
}

// Style switches like cards on list pages, but with a less bright background
.switch {
  display: inline-block;
  padding: 0.2rem 0.4rem;
  padding-top: 0.1rem;
  margin-right: 0.25rem;
  margin-bottom: 0.5rem;

  border: 1px solid rgba($fg-color, 0.1);
  border-radius: 3px;

  // We use both opacity and background-color to make sure the colour boxes and
  // text are also gently faded
  opacity: 0.8;
  background-color: rgba(white, 0.8);
}

// Shadow from list cards, but with added background colour and opacity
// transition
.switch {
  @include light-shadow;
  transition: box-shadow 300ms ease-out,
    background-color 300ms ease-out,
    opacity 300ms ease-out;
}
.switch:hover {
  @include strong-shadow;
  background-color: white;
  opacity: 1;
}

// A small square of colour with a very subtle rounded border before each label
.switchcolourbox {
  display: inline-block;
  width: 0.7rem;
  height: 0.7rem;
  margin-right: 0.2rem;

  border: 1px solid rgba($fg-color, 0.2);
  border-radius: 3px;
}

// Use a small sanserif font for switch labels
.switch a {
  @include remove-link-formatting;
  font-family: $sans-fonts;
  font-size: 0.7rem;
}

// Place switch label on the same line as the colour box and correct its
// positioning
.switch p {
  display: inline-block;
  transform: translateY(-0.1rem);
}

// Colour box palette
.cherry-black     { background-color: #111111; }
.cherry-blue      { background-color: #2a9cf9; }
.cherry-brown     { background-color: #7c441e; }
.cherry-clear     { background-color: #dddddd; }
.cherry-green     { background-color: #54d04b; }
.cherry-red       { background-color: #f7513a; }
.cherry-silentred { background-color: #f58c8c; }
.cherry-speed     { background-color: #b3b5b7; }

//
// Images and video
//

// Make all images and video responsively fit the environment they are in
main img,
main video {
  width: 100%;
  height: auto;
}

// Some setup needed for the fixed aspect ratio image wrapper to work
main img {
  position: absolute;
  top: 0;
}
.imgaspectkeep {
  position: relative;
  height: 0;
}

// Show a light grey box that images load into
.imgaspectkeep {
  background-color: rgba($fg-color, 0.05);
}

// Add a subtle rounded border to hero images to delineate their edges, as often
// they have a white background that clashes with the site's background colour.
.heroimg {
  border: 1px solid rgba($fg-color, 0.1);
  border-radius: 3px;
}

// This ensures that the image itself is also rounded, rather than only the
// .heroimg wrapper
.heroimg * {
  border-radius: 3px;
}

// Make hero images wider than the textblock if possible while keeping their
// previous positioning
.heroimg {
  max-width: 40rem;
  margin: 0 auto;
}

// Make image captions less obtrusive and offset them from the rest of the text
figcaption {
  font-family: $sans-fonts;
  font-size: 0.8rem;
  text-align: center;
  color: rgba($fg-color, 0.9);

  // Reduce space between image and caption
  margin-top: 0.5rem;

  // Increase space above any link underlines that may be present in the caption
  & a:any-link {
    background-position: $link-inset-length 94%;
  }
}

//
// 'Buy now' button
//

.buybutton {
  display: inline-block;
  font-family: $sans-fonts;
  padding: 0.5rem;

  border: 1px solid rgba($fg-color, 0.1);
  border-radius: 3px;

  // Original line height makes padding uneven
  line-height: 1.1;
}

// Reset default link styling
.buybutton a {
  @include remove-link-formatting;
}

// Shadow and background tinted lime-green react to hover
.buybutton {
  background-color: rgba($brightlime, 0.1);
  @include light-shadow;
  transition: background-color 250ms ease-out, box-shadow 250ms ease-out;
}
.buybutton:hover {
  background-color: rgba($brightlime, 0.25);
  @include strong-shadow;
}

// Slot in next to header
//
// The margin makes sure wrapping occurs a little before the text juts against
// the button's edge
.buybutton {
  float: right;
  margin-left: 0.7rem;
}
header span {
  display: inline;
}

//
// Lists
//

// Remove regular list formatting and indent lists very slightly from the edge
// of the textblock
main ul,
main ol {
  list-style-type: none;
  margin-left: 1.7rem;
}

// Add some space between consecutive list items
main li + li {
  margin-top: 0.25rem;
}

// Create a counter for each ordered list that stores the index of each list
// item label
main ol li {
  counter-increment: listcounter;
}

// Basic code to position some text of choice in front of each list item
main li:before {
  position: absolute;
  display: inline-block;
  width: 2rem;
  margin-left: -2rem;
  padding-right: 1rem;
  text-align: right;

  // Slightly fade list item labels to offset them from the main text
  color: rgba($fg-color, 0.9);
}

// Use tabular text figures for ordered list labels to make sure the numbers all
// line up in a neat column. Additionally, we remove the full stop after each
// list item as it is not needed -- whitespace is enough.
main ol li:before {
  content: counter(listcounter);
  font-variant-numeric: oldstyle-nums tabular-nums;
}

// The 'bullet' character is too thick in FF More, so we use the bold version
// of the midpoint (which is too thin in the regular weight).
main ul li:before {
  content: '·';
  font-weight: 600;
}

//
// Other elements
//

// Subtle copyright notice that dynamically adjusts the space above it for the
// screen size.
//
// We use flex to add one third of the viewport's height to the bottom of the
// page, and then position the footer _inside_ this added space. We also remove
// the margin usually added to the bottom of the page, instead moving the footer
// up into the third-viewport space.
//
// The shadow and letterspacing are used to simulate optical sizes
footer {
  display: flex;
  font-size: 0.6rem;
  height: 33vh;
  margin-bottom: -1rem;
  text-shadow: transparent 0px 0px 0px, $fg-color 0px 0px 0px;
  letter-spacing: 0.04em;
}
footer p {
  align-self: flex-end;
  padding-bottom: 1rem;
}

// Divider

// Replace horizontal line element with three centered middots, spaced with en
// quads
hr {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
  border: none;
}
hr:before {
    content: '· · ·';
    display: block;
    font-size: 1.5rem;
}

// Fullwidth

// A div that spans the entire screen width
.fullwidth {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

// Selections

::selection {
  background: rgba($brightlime, 0.15);
}

// Scroll bar

// Always show scroll bar (prevents centering from changing from page to page)
html {
  overflow-y: scroll;
}
