<!DOCTYPE html>
<html>
  <head>
    {{ partial "head" . }}
    {{ partial "title" . }}
  </head>

  <body>
    {{ partial "nav" . }}
    <header>{{ .Title }}</header>

    <main class="cards">
      <!-- Slice of all the pages that are to use the smaller two-column -->
      <!-- card format -->
      {{ $smallcardpages := slice "switches" }}

      {{ range .Pages }}
        <div class="
          card
          {{ if (in $smallcardpages .Section) }}
            smallcard
          {{ end }}
        ">
          <a class="cardlink" href="{{ .Permalink }}">
            <!-- Image format for e.g. -->
            <!--   /content/keyboards/applewirelesskeyboard.md -->
            <!-- is -->
            <!--   /assets/img/applewirelesskeyboard.md -->
            {{ $path := (printf "img/%s.jpg" .File.BaseFileName) }}
            {{ if (fileExists (printf "/assets/%s" $path)) }}
              {{ $img := resources.Get $path }}
              {{ with $img }}
                <img src="{{ .Permalink }}">
              {{ end }}
            {{ end }}

            <p class="cardtitle">{{ .Title }}</p>
          </a>
        </div>
      {{ end }}
    </main>

    {{ partial "footer" . }}
  </body>
</html>
