<!DOCTYPE html>
<html lang="en-au">
  <head>
    {{ partial "head" . }}
    {{ partial "title" . }}
  </head>

  <body>
    {{ partial "nav" . }}
    <div class="topsection">
      <header class="title">{{ .Title }}</header>
    </div>

    <!-- Slice of all the pages that are to use the smaller two-column -->
    <!-- card format -->
    {{ $smallcardpages := slice "switches" }}

    <div class="
      cards
      {{ if in $smallcardpages .Section }}
        smallcards
      {{ end }}
    ">
      {{ range .Pages }}
        <a href="{{ .Permalink }}">
          <div class="card">
            <!-- Image format for e.g. -->
            <!--   /content/keyboards/applewirelesskeyboard.md -->
            <!-- is -->
            <!--   /assets/img/applewirelesskeyboard.jpg -->
            {{ $path := (printf "img/%s.jpg" .File.BaseFileName) }}
            {{ if in $smallcardpages .Section }}
              {{ partial "img" (dict "path" $path "alt" .Title "width" "256x") }}
            {{ else }}
              {{ partial "img" (dict "path" $path "alt" .Title "width" "512x") }}
            {{ end }}

            <p class="cardtitle">{{ .Title }}</p>
          </div>
        </a>
      {{ end }}
    </div>

    {{ partial "footer" . }}
  </body>
</html>
