<!DOCTYPE html>
<html lang="en-au">
  <head>
    {{ partial "head" . }}
    {{ partial "title" . }}
  </head>
  <body>
    {{ partial "nav" . }}

    <!-- 'Buy now' button that shows the condition of the product being sold -->
    <!-- at the button's link (e.g. refurbished) -->
    <!-- -->
    <!-- We put this before the header to get correct wrapping -->
    {{ if isset .Params "purchase_link" }}
      <p class="buybutton">
        <a href="{{ .Params.purchase_link }}" target="_blank">
          Buy now
          {{ if isset .Params "condition" }} ({{ .Params.condition }}){{ end }}
        </a>
      </p>
    {{ end }}

    <header><span>{{ .Title }}</span></header>

    <!-- A list of switches the keyboard is available with -->
    {{ if isset .Params "switches" }}
      <section class="switches">
        <!-- Save these vars so that we can access them in ranges later -->
        {{ $site := .Site }}
        {{ $params := .Params }}

        <p>Available with:</p>
          {{ range .Params.switches }}
            <section>
              {{ $manufacturer := . }}

              <!-- Group switches by manufacturer -->
              <p class="manufacturer">{{ .name }}</p>

              {{ range $manufacturer.switches }}
                {{ $switch := . }}
                <div class="switch"><a href="/switches/{{ $switch }}">
                  <!-- Add class with switch name so that we can add switch- -->
                  <!-- specific colours later -->
                  <div class="switchcolourbox {{ $switch }}"></div>

                  <!-- Get short version of switch name if it exists -->
                  {{ $page := $site.GetPage (printf "/switches/%s" $switch) }}
                  {{ if isset $page.Params "short_name" }}
                    <p>{{ $page.Params.short_name }}</p>
                  {{ else }}
                    <p>{{ $page.Title }}</p>
                  {{ end }}
                </a></div>
              {{ end }}
            </section>
          {{ end }}
      </section>
    {{ end }}

    {{ $title := .Title }}

    <main>
      <!-- Only show hero image if this is a switch or keyboard page (in -->
      <!-- contrast to e.g. the about page). -->
      {{ if or (eq .Section "keyboards") (eq .Section "switches") }}
        <!-- Image format for e.g. -->
        <!--   /content/keyboards/applewirelesskeyboard.md -->
        <!-- is -->
        <!--   /assets/img/applewirelesskeyboard.md -->
        {{ $path := (printf "img/%s.jpg" .File.BaseFileName) }}
        {{ if fileExists (printf "/assets/%s" $path) }}
          {{ $img := resources.Get $path }}

          <!-- Use imageConfig function to extract aspect ratio of -->
          <!-- original image -->
          {{ $imgdata := imageConfig (printf "/assets/%s" $path) }}
          {{ $imgaspect := div (float $imgdata.Height) $imgdata.Width }}

          <!-- Use padding-top hack to create a wrapper div around each -->
          <!-- image that has a fixed aspect ratio the same as the -->
          <!-- image. This means that the layout doesn't jump around as  -->
          <!-- images load -->
          <!-- -->
          <!-- The - 0.2 removes some small amount that for some reason the -->
          <!-- browser adds -- without it the wrapper is too tall. I also -->
          <!-- don't know why. -->
          <div
            class="imgwrapper heroimg"
            style="padding-top: {{ sub (mul $imgaspect 100) 0.2 }}%"
          >
            <!-- Resize images to be 1024 pixels wide -->
            {{ with $img }}
              <img alt="{{ $title }}" src="{{ (.Resize "1024x").Permalink }}">
            {{ end }}
          </div>
        {{ end }}
      {{ end }}

      {{.Content}}
    </main>

    {{ partial "footer" . }}
  </body>
</html>
