<!DOCTYPE html>
<html>
  <head>
    {{ partial "head" . }}
    {{ partial "title" . }}
  </head>
  <body>
    {{ partial "nav" . }}
    <header>{{ .Title }}</header>

    <!-- 'Buy now' button that shows the condition of the product being sold -->
    <!-- at the button's link (e.g. refurbished) -->
    {{ if isset .Params "purchase_link" }}
      <p class="buybutton">
        <a href="{{ .Params.purchase_link }}">
          Buy now
          {{ if isset .Params "condition" }} ({{ .Params.condition }}){{ end }}
        </a>
      </p>
    {{ end }}

    <main>
      <!-- Only show hero image if this is a switch or keyboard page (in -->
      <!-- contrast to e.g. the about page). -->
      {{ if or (eq .Section "keyboards") (eq .Section "switches") }}
        <!-- Image format for e.g. -->
        <!--   /content/keyboards/applewirelesskeyboard.md -->
        <!-- is -->
        <!--   /assets/img/applewirelesskeyboard.md -->
        {{ $path := (printf "img/%s.jpg" .File.BaseFileName) }}
        {{ if (fileExists (printf "/assets/%s" $path)) }}
          {{ $img := resources.Get $path }}
          <!-- Resize images to be 1024 pixels wide -->
          {{ with $img }}
            <img src="{{ (.Resize "1024x").Permalink }}">
          {{ end }}
        {{ end }}
      {{ end }}

      {{.Content}}
    </main>

    {{ partial "footer" . }}
  </body>
</html>
