<!-- Usage: -->
<!-- .path = path to image, relative to /assets/ -->
<!-- .alt = alt-text of image -->
<!-- .width = width image will be resized to -->
{{ $img := resources.Get .path }}

<!-- Use imageConfig function to extract aspect ratio of -->
<!-- original image -->
{{ $imgdata := imageConfig (printf "/assets/%s" .path) }}
{{ $imgaspect := div (float $imgdata.Height) $imgdata.Width }}

<!-- Use padding-top hack to create a wrapper div around each -->
<!-- image that has a fixed aspect ratio the same as the -->
<!-- image. This means that the layout doesn't jump around as  -->
<!-- images load -->
<div
  class="imgwrapper"
  style="padding-top: {{ mul $imgaspect 100 }}%"
>
  <img
    alt="{{ .alt }}"
    src='{{ ($img.Resize .width).Permalink }}'
  >
</div>
