<nav>
  <p><a id="navlogo" href="/">{{ .Site.Title }}</a></p>

  <ul id="navlinks">
    {{ range where .Site.Pages "Type" "main" }}
      <li >
        <!-- Check if the page that is current being looped through is the -->
        <!-- same as or belongs to the same section as the current page. We -->
        <!-- have to check both section and path because top-level pages, -->
        <!-- such as Contact and About, do not belong to any section, but -->
        <!-- pages part of a section do not have the same path as their -->
        <!-- corresponding list page. -->
        {{ $scratch := newScratch }}
        {{ $scratch.Add "id1" "" }}
        {{ $scratch.Add "id2" "" }}
        {{ if eq $.Section "" }}
          {{ $scratch.Set "id1" .Path }}
          {{ $scratch.Set "id2" $.Path }}
        {{ else }}
          {{ $scratch.Set "id1" .Section }}
          {{ $scratch.Set "id2" $.Section }}
        {{ end }}
        <a
          href="{{ .Permalink }}"

          {{ if eq ($scratch.Get "id1") ($scratch.Get "id2") }}
            id="navthispage"
          {{ end }}
        >
          {{ .Title }}
        </a>
        {{ $scratch.Delete "id1" }}
        {{ $scratch.Delete "id2" }}
      </li>
    {{ end }}
  </ul>

  <div id="navpageinfo" style="visibility: hidden; opacity: 0">
    {{ if ne .Section "" }}
      {{ if .IsPage }}
        <a href="{{ (.Site.GetPage .Section).Permalink }}">
          {{ title .Section }}
        </a>
      {{ else }}
        {{ title .Section }}
      {{ end }}
    {{ end }}

    {{ if and (ne .Section "") (.IsPage) }}
      <span id="navdivider">|</span>
    {{ end }}

    {{ if .IsPage }}
      <span>{{ .Title }}</span>
    {{ end }}
  </div>
</nav>
