<!DOCTYPE html>
<html lang="en-au">
  <head>
    {{ partial "head" . }}
    {{ partial "title" . }}
  </head>

  {{ $img := resources.Get "img/wallpaper.jpg" }}
  <body class="home" style="background-image: url('{{ ($img.Resize "512x").Permalink }}')">
    {{ partial "nav" . }}

    <div class="greeting">
      <p class="bighi">Hi,</p>
      <p>welcome to GrepKeys, the best way to find your perfect <a href="/keyboards">keyboard</a>. Or maybe take a look at our collection of <a href="switches">switches</a>.</p>
    </div>
  </body>
</html>
